/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root {
    --text-color: #333;
    --brand-color: #ea625c;
    --bg-color: #fff;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: var(--brand-color) 1px dashed;
    outline-offset: 3px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    font-family: "Roboto", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER STYLES */
.site-header {
    padding: 30px 0;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-header-logo-link {
    text-decoration: none;
    display: flex;
    margin-right: auto;
}
.site-header-logo-link:hover {
    opacity: 0.8;
}
.site-header-logo-link:active {
    opacity: 0.6;
}
.site-header-logo-img {
    width: 35px;
    height: 41.5px;
    object-fit: contain;
    display: block;
}
.sitenav {
    margin-right: 40px;
}
.sitenav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.sitenav-list-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-item-link {
    line-height: normal;
    color: var(--text-color);
    text-decoration: none;
    padding-bottom: 3px;
    position: relative;
    display: flex;
}
.sitenav-item-link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.4s ease;
}
.sitenav-item-link:hover::before {
    background-color: var(--text-color);
    width: 105%;
}
.site-header-form-input {
    width: 153px;
    border: none;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

