/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root {
    --text-color: #333;
    --brand-color: #ea625c;
    --brand-hover-color: #c9514c;
    --bg-color: #fff;
    --black-color: #000;
    --text-wrapper-text-color: #777;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: var(--brand-color) 1px dashed;
    outline-offset: 3px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    font-family: "Roboto", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* BUTTON STYLES */
.site-btn {
    font-weight: 700;   
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 38.5px;
    background-color: var(--brand-color);
    display: inline-block;
}
.site-btn:hover {
    background-color: var(--brand-hover-color);
}

/* SITE HEADER STYLES */
.site-header {
    padding: 30px 0;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-header-logo-link {
    text-decoration: none;
    display: flex;
    margin-right: auto;
}
.site-header-logo-link:hover {
    opacity: 0.8;
}
.site-header-logo-link:active {
    opacity: 0.6;
}
.site-header-logo-img {
    width: 35px;
    height: 41.5px;
    object-fit: contain;
    display: block;
}
.sitenav {
    margin-right: 40px;
}
.sitenav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.sitenav-list-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-item-link {
    line-height: normal;
    color: var(--text-color);
    text-decoration: none;
    padding-bottom: 3px;
    position: relative;
    display: flex;
}
.sitenav-item-link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.4s ease;
}
.sitenav-item-link:hover::before {
    background-color: var(--text-color);
    width: 105%;
}
.site-header-form-input {
    width: 153px;
    border: none;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}


/* SITE MAIN SECTION STYLES */
.main {
    flex-grow: 1;
}

/* SITE HERO SECTION STYLES */
.hero {
    background-image: url("../images/intro-watch-bg.jpg");
    background-repeat: no-repeat;
    background-size: 587px 565px;
    background-position: calc(50% + 533.5px) bottom;
    padding: 140px 0 185px 0;
}
.all-text-wrapper {
    width: 490px;
}
.all-text-wrapper-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--black-color);
    margin-bottom: 30px;
}
.all-text-wrapper-text {
    font-size: 16px;
    color: var(--text-wrapper-text-color);
    margin-bottom: 30px;
    padding-left: 37px;
    border-left: 3px solid #888;
}

/* FEATURES SECTION STYLES */
.features {
    padding: 68px 0 70px 0;
    border-top: 2px solid #ddd;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -80px;
}
.features-item {
    width: 280px;
    margin-left: 80px;
}
.features-item-title {
    font-weight: 700;
    line-height: 27px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--black-color);
}
.features-item-text {
    margin-bottom: 20px;
}
.features-item-point {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    box-shadow: 18px 0px #ddd, 36px 0px #ddd;
    display: inline-block;
}
.features-item-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 25.6px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brand-color);
    display: flex;
    align-items: center;
}
.features-item-link::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--brand-color);
    transition: width 0.3s ease;
    margin-right: 10px;
}
.features-item-link:hover::before {
    width: 50px;
}













@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero {
        background-image: url("../images/intro-watch-bg@2x.jpg");
    }
}

